<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="stylesheet" href="Home Page.css"/>
<title>Home Page</title>
</head>

<body>

<table width="100%">
        <tr>
            <td width="8%">
			<img alt ="" src="src/assets/images/icon8-bell-64.png" height=70 width=70/></td>
			<td width="76%"><h1 align="center">Oddscanner</h1></td>
			<td width="8%"><p align="center"><input type="button" value="Login" align="middle"/></p></td>
			<td width="8%"><p align="center"><input type="button" value="Register"/></p></td>
        </tr>
</table>

<ul class="tree">

<li>
<ul>
<li><form action="Home Page.php"></form></li>
      <li><a href="#"></a>
        <ul>
          <li><a href="#">Sub-item 1</a></li>
          <li><a href="#">Sub-item 2</a></li>
          <li><a href="#">Sub-item 3</a></li>
        </ul>
      </li>
      <li><a href="#">Item C</a>
        <ul>
          <li><a href="#">Sub-item 1</a></li>
          <li><a href="#">Sub-item 2</a></li>
          <li><a href="#">Sub-item 3</a></li>
        </ul>
      </li>
      <li><a href="#">Item D</a>
        <ul>
          <li><a href="#">Sub-item 1</a></li>
          <li><a href="#">Sub-item 2</a></li>
          <li><a href="#">Sub-item 3</a></li>
        </ul>
      </li>
      <li><a href="#">Item E</a>
        <ul>
          <li><a href="#">Sub-item 1</a></li>
          <li><a href="#">Sub-item 2</a></li>
          <li><a href="#">Sub-item 3</a></li>
        </ul>
      </li>
    </ul>
  </li>
  </ul>
    </body>
</html>
